<html lang="en">
  <body>
    <h3>Category Index</h3>
    <p>im going to display categories...</p>
    <ul>
      <li>
        <a href="/categories/edit/1">Category 1</a>
      </li>
      <li>
        <a href="/categories/edit/2">Category 2</a>
      </li>
    </ul>
  </body>
</html>